<footer class="footer container-fluid" id="page-footer" data-arts-theme-text="dark" data-arts-footer-logo="primary">
    <div class="footer__area footer__area-border-top pt-sm-3 pb-sm-1 pt-2 pb-0">
        <div class="row align-items-center">
            <div class="col-lg-3 footer__column text-center text-lg-left order-lg-1">
                <section class="widget widget_rhye_logo">
                    <a class="logo" routerLink="/">
                        <div class="logo__wrapper-img">
                            <img class="logo__img-primary site___logo" src="../../assets/img/logo-black.svg" alt="Logo"
                                height="20" />
                            <img class="logo__img-secondary site___logo" src="../../assets/img/logo-white.png"
                                alt="Logo" height="20" />
                        </div>
                    </a>
                </section>
            </div>
            <div class="col-lg-6 footer__column text-center text-lg-center order-lg-2">
                <section class="widget widget_text">
                    <div class="textwidget">
                        <p><small>© 2024 Hemanth Choppala. Crafted by <a target="_blank">Raza</a></small></p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</footer>