<!-- <div class="preloader text-center bg-dark-2" id="js-preloader" data-arts-theme-text="light">
    <div class="preloader__content">
        <div class="preloader__header mt-auto">
            <div class="preloader__heading h2">Hemanth Choppala</div>
            <div class="preloader__subline small-caps mt-1">Software Engineer</div>
        </div>
        <div class="preloader__counter h5"><span
                class="preloader__counter-number preloader__counter-current">0</span><span
                class="preloader__counter-divider">&nbsp;&nbsp;/&nbsp;&nbsp;</span><span
                class="preloader__counter-number preloader__counter-total">100</span></div>
        <div class="preloader__circle"></div>
    </div>
</div>
<svg class="spinner d-lg-none" id="js-spinner" width="65px" height="65px" viewBox="0 0 66 66"
    xmlns="http://www.w3.org/2000/svg">
    <circle class="spinner__path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
</svg> -->

<div #home>
    <app-home (link)="on_scroll($event)"></app-home>
</div>
<div #portfolio>
    <app-portfolio></app-portfolio>
</div>
<div #services>
    <app-services></app-services>
</div>
<div #about>
    <app-about></app-about>
</div>
<div #contact>
    <app-contact></app-contact>
</div>