<div data-barba="wrapper">
    <div class="js-smooth-scroll bg-light-2" id="page-wrapper" data-barba="container">
        <main class="page-wrapper__content">
            <!-- section MASTHEAD -->
            <section class="section section-masthead pt-large pb-medium pt-large pb-small"
                data-arts-os-animation="data-arts-os-animation" data-background-color="var(--color-light-2)">
                <div class="section-masthead__inner container">
                    <header class="row section-masthead__header">
                        <div class="col-12">
                            <div class="section-masthead__heading split-text js-split-text"
                                data-split-text-type="lines,words" data-split-text-set="words">
                                <h1 class="mt-0 mb-0 h1">Albums I</h1>
                            </div>
                            <div class="w-100"></div>
                            <div class="section__headline mt-2 mr-auto"></div>
                        </div>
                    </header>
                </div>
            </section>
            <!-- - section MASTHEAD -->
            <!-- section ALBUMS LIST COVERS -->
            <section class="section section-list overflow pb-medium" data-arts-os-animation="data-arts-os-animation">
                <div class="list-projects text-center text-md-left"><a
                        class="list-projects__item container pt-xsmall pb-xsmall hover-zoom js-arrow js-album" href="#">
                        <div class="row align-items-center justify-content-center justify-content-md-between">
                            <div class="col-md-10">
                                <div class="row align-items-center justify-content-center justify-content-md-start">
                                    <!-- album cover -->
                                    <div class="col-auto">
                                        <div class="hover-zoom__inner block-circle overflow">
                                            <div class="hover-zoom__zoom">
                                                <div class="list-projects__thumbnail"
                                                    data-arts-parallax="data-arts-parallax"
                                                    data-arts-parallax-factor="0.15">
                                                    <div class="lazy-bg" data-src="img/assets/albums/album-1_thumb.jpg">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- - album cover -->
                                    <div class="w-100 d-md-none"></div>
                                    <!-- header -->
                                    <div class="col-md-auto col-12">
                                        <h2 class="h2 d-inline-block list-projects__heading block-counter js-split-text split-text"
                                            data-split-text-type="lines,words" data-split-text-set="words">
                                            <span>Interior</span><span class="block-counter__counter">17</span>
                                        </h2>
                                    </div>
                                    <!-- - header -->
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="arrow arrow-right js-arrow" data-arts-cursor="data-arts-cursor"
                                    data-arts-cursor-hide-native="true" data-arts-cursor-scale="0"
                                    data-arts-cursor-magnetic="data-arts-cursor-magnetic">
                                    <svg class="svg-circle" viewBox="0 0 60 60" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <circle class="circle" cx="30" cy="30" r="29" fill="none"></circle>
                                    </svg>
                                    <div class="arrow__pointer arrow-right__pointer"></div>
                                    <div class="arrow__triangle"></div>
                                </div>
                            </div>
                        </div>
                        <!-- album photos -->
                        <div class="js-album__items d-none"><img src="#"
                                data-album-src="img/assets/albumImages/album-1_1.jpg" width="1920" height="1920"
                                data-title="" alt="" /><img src="#"
                                data-album-src="img/assets/albumImages/album-1_2.jpg" width="1920" height="1920"
                                data-title="" alt="" /><img src="#"
                                data-album-src="img/assets/albumImages/album-1_3.jpg" width="1920" height="1920"
                                data-title="" alt="" /><img src="#"
                                data-album-src="img/assets/albumImages/album-1_4.jpg" width="1920" height="1920"
                                data-title="" alt="" /><img src="#"
                                data-album-src="img/assets/albumImages/album-1_5.jpg" width="1920" height="1920"
                                data-title="" alt="" /><img src="#"
                                data-album-src="img/assets/albumImages/album-1_6.jpg" width="1920" height="1920"
                                data-title="" alt="" />
                        </div>
                        <!-- - album photos -->
                    </a><a class="list-projects__item container pt-xsmall pb-xsmall hover-zoom js-arrow js-album"
                        href="#">
                        <div class="row align-items-center justify-content-center justify-content-md-between">
                            <div class="col-md-10">
                                <div class="row align-items-center justify-content-center justify-content-md-start">
                                    <!-- album cover -->
                                    <div class="col-auto">
                                        <div class="hover-zoom__inner block-circle overflow">
                                            <div class="hover-zoom__zoom">
                                                <div class="list-projects__thumbnail"
                                                    data-arts-parallax="data-arts-parallax"
                                                    data-arts-parallax-factor="0.15">
                                                    <div class="lazy-bg" data-src="img/assets/albums/album-2_thumb.jpg">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- - album cover -->
                                    <div class="w-100 d-md-none"></div>
                                    <!-- header -->
                                    <div class="col-md-auto col-12">
                                        <h2 class="h2 d-inline-block list-projects__heading block-counter js-split-text split-text"
                                            data-split-text-type="lines,words" data-split-text-set="words">
                                            <span>Portraits</span><span class="block-counter__counter">23</span>
                                        </h2>
                                    </div>
                                    <!-- - header -->
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="arrow arrow-right js-arrow" data-arts-cursor="data-arts-cursor"
                                    data-arts-cursor-hide-native="true" data-arts-cursor-scale="0"
                                    data-arts-cursor-magnetic="data-arts-cursor-magnetic">
                                    <svg class="svg-circle" viewBox="0 0 60 60" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <circle class="circle" cx="30" cy="30" r="29" fill="none"></circle>
                                    </svg>
                                    <div class="arrow__pointer arrow-right__pointer"></div>
                                    <div class="arrow__triangle"></div>
                                </div>
                            </div>
                        </div>
                        <!-- album photos -->
                        <div class="js-album__items d-none"><img src="#"
                                data-album-src="img/assets/albumImages/album-2_1.jpg" width="1920" height="1280"
                                data-title="" alt="" /><img src="#"
                                data-album-src="img/assets/albumImages/album-2_2.jpg" width="1280" height="1920"
                                data-title="" alt="" /><img src="#"
                                data-album-src="img/assets/albumImages/album-2_3.jpg" width="1920" height="1280"
                                data-title="" alt="" /><img src="#"
                                data-album-src="img/assets/albumImages/album-2_4.jpg" width="1920" height="1280"
                                data-title="" alt="" /><img src="#"
                                data-album-src="img/assets/albumImages/album-2_5.jpg" width="1920" height="1920"
                                data-title="" alt="" />
                        </div>
                        <!-- - album photos -->
                    </a><a class="list-projects__item container pt-xsmall pb-xsmall hover-zoom js-arrow js-album"
                        href="#">
                        <div class="row align-items-center justify-content-center justify-content-md-between">
                            <div class="col-md-10">
                                <div class="row align-items-center justify-content-center justify-content-md-start">
                                    <!-- album cover -->
                                    <div class="col-auto">
                                        <div class="hover-zoom__inner block-circle overflow">
                                            <div class="hover-zoom__zoom">
                                                <div class="list-projects__thumbnail"
                                                    data-arts-parallax="data-arts-parallax"
                                                    data-arts-parallax-factor="0.15">
                                                    <div class="lazy-bg" data-src="img/assets/albums/album-3_thumb.jpg">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- - album cover -->
                                    <div class="w-100 d-md-none"></div>
                                    <!-- header -->
                                    <div class="col-md-auto col-12">
                                        <h2 class="h2 d-inline-block list-projects__heading block-counter js-split-text split-text"
                                            data-split-text-type="lines,words" data-split-text-set="words"><span>UI / UX
                                                Design</span><span class="block-counter__counter">19</span></h2>
                                    </div>
                                    <!-- - header -->
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="arrow arrow-right js-arrow" data-arts-cursor="data-arts-cursor"
                                    data-arts-cursor-hide-native="true" data-arts-cursor-scale="0"
                                    data-arts-cursor-magnetic="data-arts-cursor-magnetic">
                                    <svg class="svg-circle" viewBox="0 0 60 60" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <circle class="circle" cx="30" cy="30" r="29" fill="none"></circle>
                                    </svg>
                                    <div class="arrow__pointer arrow-right__pointer"></div>
                                    <div class="arrow__triangle"></div>
                                </div>
                            </div>
                        </div>
                        <!-- album photos -->
                        <div class="js-album__items d-none"><img src="#"
                                data-album-src="img/assets/albumImages/album-3_1.jpg" width="1920" height="1280"
                                data-title="" alt="" /><img src="#"
                                data-album-src="img/assets/albumImages/album-3_2.jpg" width="1920" height="1920"
                                data-title="" alt="" /><img src="#"
                                data-album-src="img/assets/albumImages/album-3_3.jpg" width="1280" height="1920"
                                data-title="" alt="" /><img src="#"
                                data-album-src="img/assets/albumImages/album-3_4.jpg" width="1280" height="1920"
                                data-title="" alt="" /><img src="#"
                                data-album-src="img/assets/albumImages/album-3_5.jpg" width="1920" height="1280"
                                data-title="" alt="" /><img src="#"
                                data-album-src="img/assets/albumImages/album-3_6.jpg" width="1280" height="1920"
                                data-title="" alt="" /><img src="#"
                                data-album-src="img/assets/albumImages/album-3_7.jpg" width="1920" height="1280"
                                data-title="" alt="" />
                        </div>
                        <!-- - album photos -->
                    </a><a class="list-projects__item container pt-xsmall pb-xsmall hover-zoom js-arrow js-album"
                        href="#">
                        <div class="row align-items-center justify-content-center justify-content-md-between">
                            <div class="col-md-10">
                                <div class="row align-items-center justify-content-center justify-content-md-start">
                                    <!-- album cover -->
                                    <div class="col-auto">
                                        <div class="hover-zoom__inner block-circle overflow">
                                            <div class="hover-zoom__zoom">
                                                <div class="list-projects__thumbnail"
                                                    data-arts-parallax="data-arts-parallax"
                                                    data-arts-parallax-factor="0.15">
                                                    <div class="lazy-bg" data-src="img/assets/albums/album-4_thumb.jpg">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- - album cover -->
                                    <div class="w-100 d-md-none"></div>
                                    <!-- header -->
                                    <div class="col-md-auto col-12">
                                        <h2 class="h2 d-inline-block list-projects__heading block-counter js-split-text split-text"
                                            data-split-text-type="lines,words" data-split-text-set="words">
                                            <span>Branding</span><span class="block-counter__counter">31</span>
                                        </h2>
                                    </div>
                                    <!-- - header -->
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="arrow arrow-right js-arrow" data-arts-cursor="data-arts-cursor"
                                    data-arts-cursor-hide-native="true" data-arts-cursor-scale="0"
                                    data-arts-cursor-magnetic="data-arts-cursor-magnetic">
                                    <svg class="svg-circle" viewBox="0 0 60 60" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <circle class="circle" cx="30" cy="30" r="29" fill="none"></circle>
                                    </svg>
                                    <div class="arrow__pointer arrow-right__pointer"></div>
                                    <div class="arrow__triangle"></div>
                                </div>
                            </div>
                        </div>
                        <!-- album photos -->
                        <div class="js-album__items d-none"><img src="#"
                                data-album-src="img/assets/albumImages/album-4_1.jpg" width="1920" height="1280"
                                data-title="" alt="" /><img src="#"
                                data-album-src="img/assets/albumImages/album-4_2.jpg" width="1920" height="1920"
                                data-title="" alt="" /><img src="#"
                                data-album-src="img/assets/albumImages/album-4_3.jpg" width="1920" height="1920"
                                data-title="" alt="" /><img src="#"
                                data-album-src="img/assets/albumImages/album-4_4.jpg" width="1920" height="1920"
                                data-title="" alt="" />
                        </div>
                        <!-- - album photos -->
                    </a><a class="list-projects__item container pt-xsmall pb-xsmall hover-zoom js-arrow js-album"
                        href="#">
                        <div class="row align-items-center justify-content-center justify-content-md-between">
                            <div class="col-md-10">
                                <div class="row align-items-center justify-content-center justify-content-md-start">
                                    <!-- album cover -->
                                    <div class="col-auto">
                                        <div class="hover-zoom__inner block-circle overflow">
                                            <div class="hover-zoom__zoom">
                                                <div class="list-projects__thumbnail"
                                                    data-arts-parallax="data-arts-parallax"
                                                    data-arts-parallax-factor="0.15">
                                                    <div class="lazy-bg" data-src="img/assets/albums/album-5_thumb.jpg">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- - album cover -->
                                    <div class="w-100 d-md-none"></div>
                                    <!-- header -->
                                    <div class="col-md-auto col-12">
                                        <h2 class="h2 d-inline-block list-projects__heading block-counter js-split-text split-text"
                                            data-split-text-type="lines,words" data-split-text-set="words">
                                            <span>Identity</span><span class="block-counter__counter">17</span>
                                        </h2>
                                    </div>
                                    <!-- - header -->
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="arrow arrow-right js-arrow" data-arts-cursor="data-arts-cursor"
                                    data-arts-cursor-hide-native="true" data-arts-cursor-scale="0"
                                    data-arts-cursor-magnetic="data-arts-cursor-magnetic">
                                    <svg class="svg-circle" viewBox="0 0 60 60" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <circle class="circle" cx="30" cy="30" r="29" fill="none"></circle>
                                    </svg>
                                    <div class="arrow__pointer arrow-right__pointer"></div>
                                    <div class="arrow__triangle"></div>
                                </div>
                            </div>
                        </div>
                        <!-- album photos -->
                        <div class="js-album__items d-none"><img src="#"
                                data-album-src="img/assets/albumImages/album-5_1.jpg" width="1280" height="1920"
                                data-title="" alt="" /><img src="#"
                                data-album-src="img/assets/albumImages/album-5_2.jpg" width="1920" height="1280"
                                data-title="" alt="" /><img src="#"
                                data-album-src="img/assets/albumImages/album-5_3.jpg" width="1280" height="1920"
                                data-title="" alt="" /><img src="#"
                                data-album-src="img/assets/albumImages/album-5_4.jpg" width="1920" height="1280"
                                data-title="" alt="" /><img src="#"
                                data-album-src="img/assets/albumImages/album-5_5.jpg" width="1280" height="1920"
                                data-title="" alt="" />
                        </div>
                        <!-- - album photos -->
                    </a><a class="list-projects__item container pt-xsmall pb-xsmall hover-zoom js-arrow js-album"
                        href="#">
                        <div class="row align-items-center justify-content-center justify-content-md-between">
                            <div class="col-md-10">
                                <div class="row align-items-center justify-content-center justify-content-md-start">
                                    <!-- album cover -->
                                    <div class="col-auto">
                                        <div class="hover-zoom__inner block-circle overflow">
                                            <div class="hover-zoom__zoom">
                                                <div class="list-projects__thumbnail"
                                                    data-arts-parallax="data-arts-parallax"
                                                    data-arts-parallax-factor="0.15">
                                                    <div class="lazy-bg" data-src="img/assets/albums/album-6_thumb.jpg">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- - album cover -->
                                    <div class="w-100 d-md-none"></div>
                                    <!-- header -->
                                    <div class="col-md-auto col-12">
                                        <h2 class="h2 d-inline-block list-projects__heading block-counter js-split-text split-text"
                                            data-split-text-type="lines,words" data-split-text-set="words"><span>Product
                                                Design</span><span class="block-counter__counter">29</span></h2>
                                    </div>
                                    <!-- - header -->
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="arrow arrow-right js-arrow" data-arts-cursor="data-arts-cursor"
                                    data-arts-cursor-hide-native="true" data-arts-cursor-scale="0"
                                    data-arts-cursor-magnetic="data-arts-cursor-magnetic">
                                    <svg class="svg-circle" viewBox="0 0 60 60" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <circle class="circle" cx="30" cy="30" r="29" fill="none"></circle>
                                    </svg>
                                    <div class="arrow__pointer arrow-right__pointer"></div>
                                    <div class="arrow__triangle"></div>
                                </div>
                            </div>
                        </div>
                        <!-- album photos -->
                        <div class="js-album__items d-none"><img src="#"
                                data-album-src="img/assets/albumImages/album-6_1.jpg" width="1920" height="1280"
                                data-title="" alt="" /><img src="#"
                                data-album-src="img/assets/albumImages/album-6_2.jpg" width="1280" height="1920"
                                data-title="" alt="" /><img src="#"
                                data-album-src="img/assets/albumImages/album-6_3.jpg" width="1920" height="1280"
                                data-title="" alt="" /><img src="#"
                                data-album-src="img/assets/albumImages/album-6_4.jpg" width="1920" height="1280"
                                data-title="" alt="" /><img src="#"
                                data-album-src="img/assets/albumImages/album-6_5.jpg" width="1920" height="1920"
                                data-title="" alt="" />
                        </div>
                        <!-- - album photos -->
                    </a><a class="list-projects__item container pt-xsmall pb-xsmall hover-zoom js-arrow js-album"
                        href="#">
                        <div class="row align-items-center justify-content-center justify-content-md-between">
                            <div class="col-md-10">
                                <div class="row align-items-center justify-content-center justify-content-md-start">
                                    <!-- album cover -->
                                    <div class="col-auto">
                                        <div class="hover-zoom__inner block-circle overflow">
                                            <div class="hover-zoom__zoom">
                                                <div class="list-projects__thumbnail"
                                                    data-arts-parallax="data-arts-parallax"
                                                    data-arts-parallax-factor="0.15">
                                                    <div class="lazy-bg" data-src="img/assets/albums/album-7_thumb.jpg">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- - album cover -->
                                    <div class="w-100 d-md-none"></div>
                                    <!-- header -->
                                    <div class="col-md-auto col-12">
                                        <h2 class="h2 d-inline-block list-projects__heading block-counter js-split-text split-text"
                                            data-split-text-type="lines,words" data-split-text-set="words"><span>Black &
                                                White</span><span class="block-counter__counter">13</span></h2>
                                    </div>
                                    <!-- - header -->
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="arrow arrow-right js-arrow" data-arts-cursor="data-arts-cursor"
                                    data-arts-cursor-hide-native="true" data-arts-cursor-scale="0"
                                    data-arts-cursor-magnetic="data-arts-cursor-magnetic">
                                    <svg class="svg-circle" viewBox="0 0 60 60" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <circle class="circle" cx="30" cy="30" r="29" fill="none"></circle>
                                    </svg>
                                    <div class="arrow__pointer arrow-right__pointer"></div>
                                    <div class="arrow__triangle"></div>
                                </div>
                            </div>
                        </div>
                        <!-- album photos -->
                        <div class="js-album__items d-none"><img src="#"
                                data-album-src="img/assets/albumImages/album-7_1.jpg" width="1280" height="1920"
                                data-title="" alt="" /><img src="#"
                                data-album-src="img/assets/albumImages/album-7_2.jpg" width="1280" height="1920"
                                data-title="" alt="" /><img src="#"
                                data-album-src="img/assets/albumImages/album-7_3.jpg" width="1280" height="1920"
                                data-title="" alt="" /><img src="#"
                                data-album-src="img/assets/albumImages/album-7_4.jpg" width="1280" height="1920"
                                data-title="" alt="" /><img src="#"
                                data-album-src="img/assets/albumImages/album-7_5.jpg" width="1280" height="1920"
                                data-title="" alt="" />
                        </div>
                        <!-- - album photos -->
                    </a>
                </div>
            </section>
            <!-- - section ALBUMS LIST COVERS -->
        </main>
    </div>
    <!-- - PAGE MAIN -->
</div>
<canvas id="js-webgl"></canvas>
<!-- PhotoSwipe -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true" data-arts-theme-text="light">
    <!-- background -->
    <div class="pswp__bg"></div>
    <!-- - background -->
    <!-- slider wrapper -->
    <div class="pswp__scroll-wrap">
        <!-- slides holder (don't modify)-->
        <div class="pswp__container">
            <div class="pswp__item">
                <div class="pswp__img pswp__img--placeholder"></div>
            </div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <!-- - slides holder (don't modify)-->
        <!-- UI -->
        <div class="pswp__ui pswp__ui--hidden">
            <!-- top bar -->
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)" data-arts-cursor="data-arts-cursor"
                    data-arts-cursor-scale="1.2" data-arts-cursor-magnetic="data-arts-cursor-magnetic"
                    data-arts-cursor-hide-native="true"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"
                    data-arts-cursor="data-arts-cursor" data-arts-cursor-scale="1.2"
                    data-arts-cursor-magnetic="data-arts-cursor-magnetic" data-arts-cursor-hide-native="true"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- - top bar -->
            <!-- left arrow -->
            <div class="pswp__button pswp__button--arrow--left">
                <div class="arrow arrow-left js-arrow" data-arts-cursor="data-arts-cursor"
                    data-arts-cursor-hide-native="true" data-arts-cursor-scale="0"
                    data-arts-cursor-magnetic="data-arts-cursor-magnetic">
                    <svg class="svg-circle" viewBox="0 0 60 60" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <circle class="circle" cx="30" cy="30" r="29" fill="none"></circle>
                    </svg>
                    <div class="arrow__pointer arrow-left__pointer"></div>
                    <div class="arrow__triangle"></div>
                </div>
            </div>
            <!-- - left arrow -->
            <!-- right arrow -->
            <div class="pswp__button pswp__button--arrow--right">
                <div class="arrow arrow-right js-arrow" data-arts-cursor="data-arts-cursor"
                    data-arts-cursor-hide-native="true" data-arts-cursor-scale="0"
                    data-arts-cursor-magnetic="data-arts-cursor-magnetic">
                    <svg class="svg-circle" viewBox="0 0 60 60" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <circle class="circle" cx="30" cy="30" r="29" fill="none"></circle>
                    </svg>
                    <div class="arrow__pointer arrow-right__pointer"></div>
                    <div class="arrow__triangle"></div>
                </div>
            </div>
            <!-- - right arrow -->
            <!-- slide caption holder (don't modify) -->
            <div class="pswp__caption">
                <div class="pswp__caption__center text-center"></div>
            </div>
            <!-- - slide caption holder (don't modify) -->
        </div>
        <!-- - UI -->
    </div>
    <!-- slider wrapper -->
</div>
<!-- - PhotoSwipe -->
<!-- List Hover Shaders -->