<div @startUpIn *ngIf="is_show" class="preloader text-center bg-dark-2" id="js-preloader" data-arts-theme-text="light">
    <div class="preloader__content">
        <div class="preloader__header mt-auto">
            <div class="preloader__heading h2">Hemanth Choppala</div>
            <div class="preloader__subline small-caps mt-1">Software Engineer</div>
        </div>
    </div>
    <div class="centered-startup">
        <div id="divSpinner" class="spinner-startup loading-startup">
            <div class="loading-text-startup">
                <div class="preloader__counter h5">
                    <span class="preloader__counter-number">{{ loader }}</span>
                    <span class="preloader__counter-divider">&nbsp;&nbsp;/&nbsp;&nbsp;</span>
                    <span class="preloader__counter-number preloader__counter-total">100</span>
                </div>
            </div>
        </div>
    </div>
</div>