<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header('Home Page', 'styles')"></div>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
  <section class="hero-section">
    <div class="hero-content">
      <h1>Hemanth Choppala</h1>
      <p>Problem Solver, Engineer</p>
    </div>
  </section>

  <section class="instagram-section">
    <h2>My Latest Instagram Photo</h2>
    <div class="instagram-photo">
      <!-- Replace the 'YOUR_INSTAGRAM_PHOTO_URL' with the actual URL of your Instagram photo -->
      <img src="YOUR_INSTAGRAM_PHOTO_URL" alt="Instagram Photo">
    </div>
  </section>

  <!-- Other content goes here -->
</div>

<div th:replace="fragments/footer :: footer"></div>

<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>
