<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header('choppala.com | index', 'main')"></div>
    <body>
        <header>
            <h1>Welcome to My Personal Website</h1>
        </header>
        <section>
            <h2>About Me</h2>
            <p>Hello, I'm Hemanth. Welcome to my personal website.</p>
        </section>

        <section>
            <h2>My Links</h2>
            <ul>
                <li><a href="https://www.linkedin.com/in/hemanth-choppala-8b156614a">LinkedIn</a></li>
            </ul>
        </section>

        <div th:replace="fragments/footer :: footer"></div>
        <div th:replace="fragments/scripts :: scripts"></div>
    </body>
</html>
