<header class="header header_menu-right header_fixed container-fluid js-header-sticky" id="page-header"
    data-arts-theme-text="light" data-arts-header-sticky-theme="bg-dark-2" data-arts-header-logo="secondary"
    data-arts-header-sticky-logo="secondary" data-arts-header-overlay-theme="dark"
    data-arts-header-overlay-background="#000">
    <div class="header__container header__controls">
        <div class="row justify-content-between align-items-center">
            <div class="col-auto header__col header__col-left"><a class="logo" routerLink="/">
                    <div class="logo__wrapper-img">
                        <img class="logo__img-primary site___logo" src="../../assets/img/logo-black.svg" alt="Logo"
                            height="20" />
                        <img class="logo__img-secondary site___logo" src="../../assets/img/logo-white.png" alt="Logo"
                            height="20" />
                    </div>
                </a>
            </div>
            <div class="col-auto header__col">
                <div class="header__burger" id="js-burger" data-arts-cursor="data-arts-cursor"
                    data-arts-cursor-scale="1.7" data-arts-cursor-magnetic="data-arts-cursor-magnetic"
                    data-arts-cursor-hide-native="true">
                    <div class="header__burger-line"></div>
                    <div class="header__burger-line"></div>
                    <div class="header__burger-line"></div>
                </div>
            </div>
            <div class="header__overlay-menu-back" id="js-submenu-back">
                <div class="arrow arrow-left js-arrow arrow_mini" data-arts-cursor="data-arts-cursor"
                    data-arts-cursor-hide-native="true" data-arts-cursor-scale="0"
                    data-arts-cursor-magnetic="data-arts-cursor-magnetic">
                    <svg class="svg-circle" viewBox="0 0 60 60" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <circle class="circle" cx="30" cy="30" r="29" fill="none"></circle>
                    </svg>
                    <div class="arrow__pointer arrow-left__pointer"></div>
                    <div class="arrow__triangle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__wrapper-overlay-menu opacity__0 container-fluid container-fluid_paddings">
        <div class="header__wrapper-menu">
            <ul class="menu-overlay js-menu-overlay">
                <li class="menu-item-has-children">
                    <a class="h2" (click)="on_click('home');" data-pjax-link="overlayMenu">
                        <div class="menu-overlay__item-wrapper hover split-text js-split-text"
                            data-split-text-type="lines">
                            Home
                        </div>
                    </a>
                </li>
                <li class="menu-item-has-children">
                    <a class="h2" (click)="on_click('portfolio');" data-pjax-link="overlayMenu">
                        <div class="menu-overlay__item-wrapper hover split-text js-split-text"
                            data-split-text-type="lines">
                            Portfolio
                        </div>
                    </a>
                </li>
                <li class="menu-item-has-children">
                    <a class="h2" (click)="on_click('services');" data-pjax-link="overlayMenu">
                        <div class="menu-overlay__item-wrapper hover split-text js-split-text"
                            data-split-text-type="lines">
                            Services
                        </div>
                    </a>
                </li>
                <li class="menu-item-has-children">
                    <a class="h2" (click)="on_click('skills');" data-pjax-link="overlayMenu">
                        <div class="menu-overlay__item-wrapper hover split-text js-split-text"
                            data-split-text-type="lines">
                            Skills
                        </div>
                    </a>
                </li>
                <li class="menu-item-has-children">
                    <a class="h2" (click)="on_click('contact');" data-pjax-link="overlayMenu">
                        <div class="menu-overlay__item-wrapper hover split-text js-split-text"
                            data-split-text-type="lines">
                            Contact
                        </div>
                    </a>
                </li>
                <li class="menu-item-has-children">
                    <a class="h2" (click)="on_click('about');" data-pjax-link="overlayMenu">
                        <div class="menu-overlay__item-wrapper hover split-text js-split-text"
                            data-split-text-type="lines">
                            About
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="header__wrapper-overlay-widgets">
            <div class="row">
                <div class="col-lg-4 header__widget">
                    <div class="header__widget-title small-caps js-split-text split-text" data-split-text-type="lines">
                        Contacts</div>
                    <div class="header__widget-content js-split-text split-text" data-split-text-type="lines">
                        <p>
                            <a href="{{email}}" [innerHTML]="email"></a><br />{{phone}}<br />
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 header__widget">
                    <div class="header__widget-title small-caps js-split-text split-text" data-split-text-type="lines">
                        Office</div>
                    <div class="header__widget-content js-split-text split-text" data-split-text-type="lines">
                        <p [innerHTML]="address"><br />
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 header__widget">
                    <div class="header__widget-title small-caps js-split-text split-text" data-split-text-type="lines">
                        Want to Work with Me?</div>
                    <div class="header__widget-content js-split-text split-text" data-split-text-type="lines">
                        <p>
                            <a class="hover get__in__touch" (click)="on_click('contact')">Get in Touch</a><br />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>