<div data-barba="wrapper">
    <div class="js-smooth-scroll bg-light-1" id="page-wrapper" data-barba="container">
        <main class="page-wrapper__content">
            <section class="section header--visible py-3 section-masthead pt-large pb-small text-center"
                data-arts-os-animation="data-arts-os-animation" data-background-color="var(--color-light-1)">
                <div class="section-masthead__inner header--visible container-fluid">
                    <header class="row section-masthead__header justify-content-center">
                        <div class="col">
                            <div class="section-masthead__meta small-caps mt-0 mb-2">
                                <div class="section-masthead__meta-item">
                                    <ul class="section-masthead__meta-categories split-text js-split-text"
                                        data-split-text-type="lines" data-split-text-set="lines">
                                        <li>
                                            <a>My Services</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="section-masthead__heading split-text js-split-text"
                                data-split-text-type="lines,words" data-split-text-set="words">
                                <h1 class="h1 mt-0 mb-0">
                                    {{ _data.name }}
                                </h1>
                            </div>
                            <div class="w-100"></div>
                            <div class="section__headline mt-2 mx-auto"></div>
                        </div>
                    </header>
                </div>
            </section>
        </main>
    </div>
</div>
<mat-dialog-content class="padding-0">
    <div data-barba="wrapper">
        <div class="js-smooth-scroll bg-light-1" id="page-wrapper" data-barba="container">
            <main class="page-wrapper__content">
                <section class="section section-blog pb-medium">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-10 section-blog__post">
                                <article class="post">
                                    <div class="post__content clearfix">
                                        <p class="has-drop-cap">{{ _data.details }}</p>
                                        <div [innerHTML]="_data.description"></div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </div>
    <canvas id="js-webgl"></canvas>
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true" data-arts-theme-text="light">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <!-- slides holder (don't modify)-->
            <div class="pswp__container">
                <div class="pswp__item">
                    <div class="pswp__img pswp__img--placeholder"></div>
                </div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <!-- - slides holder (don't modify)-->
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"
                        data-arts-cursor="data-arts-cursor" data-arts-cursor-scale="1.2"
                        data-arts-cursor-magnetic="data-arts-cursor-magnetic"
                        data-arts-cursor-hide-native="true"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"
                        data-arts-cursor="data-arts-cursor" data-arts-cursor-scale="1.2"
                        data-arts-cursor-magnetic="data-arts-cursor-magnetic"
                        data-arts-cursor-hide-native="true"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__button pswp__button--arrow--left">
                    <div class="arrow arrow-left js-arrow" data-arts-cursor="data-arts-cursor"
                        data-arts-cursor-hide-native="true" data-arts-cursor-scale="0"
                        data-arts-cursor-magnetic="data-arts-cursor-magnetic">
                        <svg class="svg-circle" viewBox="0 0 60 60" version="1.1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <circle class="circle" cx="30" cy="30" r="29" fill="none"></circle>
                        </svg>
                        <div class="arrow__pointer arrow-left__pointer"></div>
                        <div class="arrow__triangle"></div>
                    </div>
                </div>
                <div class="pswp__button pswp__button--arrow--right">
                    <div class="arrow arrow-right js-arrow" data-arts-cursor="data-arts-cursor"
                        data-arts-cursor-hide-native="true" data-arts-cursor-scale="0"
                        data-arts-cursor-magnetic="data-arts-cursor-magnetic">
                        <svg class="svg-circle" viewBox="0 0 60 60" version="1.1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <circle class="circle" cx="30" cy="30" r="29" fill="none"></circle>
                        </svg>
                        <div class="arrow__pointer arrow-right__pointer"></div>
                        <div class="arrow__triangle"></div>
                    </div>
                </div>
                <div class="pswp__caption">
                    <div class="pswp__caption__center text-center"></div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <div class="section-content__button" style="opacity: 1; visibility: inherit; transform: translate(0px, 0px);">
        <a mat-dialog-close class="button button_bordered button_white btn__color" data-hover="Close">
            <span class="button__label-hover">Close</span>
        </a>
    </div>
</mat-dialog-actions>