<div data-barba="wrapper">
    <div class="curtain transition-curtain" id="js-page-transition-curtain">
        <div class="curtain__wrapper-svg">
            <svg class="curtain-svg" viewBox="0 0 1920 1080" preserveAspectRatio="none" version="1.1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path class="curtain-svg__normal"
                    d="M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z">
                </path>
                <path class="curtain-svg__curve curtain-svg__curve_top-desktop"
                    d="M0,300 C305.333333,100 625.333333,0 960,0 C1294.66667,0 1614.66667,100 1920,300 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,300 Z">
                </path>
                <path class="curtain-svg__curve curtain-svg__curve_top-mobile"
                    d="M0,150 C305.333333,50 625.333333,0 960,0 C1294.66667,0 1614.66667,50 1920,150 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,150 Z">
                </path>
                <path class="curtain-svg__curve curtain-svg__curve_bottom-desktop"
                    d="M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,980 1294.66667,930 960,930 C625.333333,930 305.333333,980 0,1080 L0,0 Z">
                </path>
                <path class="curtain-svg__curve curtain-svg__curve_bottom-mobile"
                    d="M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1030 1294.66667,1005 960,1005 C625.333333,1005 305.333333,1030 0,1080 L0,0 Z">
                </path>
            </svg>
        </div>
    </div>
    <div class="header-curtain curtain" id="js-header-curtain">
        <div class="curtain__wrapper-svg">
            <svg class="curtain-svg" viewBox="0 0 1920 1080" preserveAspectRatio="none" version="1.1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path class="curtain-svg__normal"
                    d="M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z">
                </path>
                <path class="curtain-svg__curve curtain-svg__curve_top-desktop"
                    d="M0,300 C305.333333,100 625.333333,0 960,0 C1294.66667,0 1614.66667,100 1920,300 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,300 Z">
                </path>
                <path class="curtain-svg__curve curtain-svg__curve_top-mobile"
                    d="M0,150 C305.333333,50 625.333333,0 960,0 C1294.66667,0 1614.66667,50 1920,150 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,150 Z">
                </path>
                <path class="curtain-svg__curve curtain-svg__curve_bottom-desktop"
                    d="M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,980 1294.66667,930 960,930 C625.333333,930 305.333333,980 0,1080 L0,0 Z">
                </path>
                <path class="curtain-svg__curve curtain-svg__curve_bottom-mobile"
                    d="M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1030 1294.66667,1005 960,1005 C625.333333,1005 305.333333,1030 0,1080 L0,0 Z">
                </path>
            </svg>
        </div>
    </div>
    <div class="header-curtain header-curtain_transition curtain" id="js-header-curtain-transition">
        <div class="curtain__wrapper-svg">
            <svg class="curtain-svg" viewBox="0 0 1920 1080" preserveAspectRatio="none" version="1.1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path class="curtain-svg__normal"
                    d="M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z">
                </path>
                <path class="curtain-svg__curve curtain-svg__curve_top-desktop"
                    d="M0,300 C305.333333,100 625.333333,0 960,0 C1294.66667,0 1614.66667,100 1920,300 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,300 Z">
                </path>
                <path class="curtain-svg__curve curtain-svg__curve_top-mobile"
                    d="M0,150 C305.333333,50 625.333333,0 960,0 C1294.66667,0 1614.66667,50 1920,150 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,150 Z">
                </path>
                <path class="curtain-svg__curve curtain-svg__curve_bottom-desktop"
                    d="M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,980 1294.66667,930 960,930 C625.333333,930 305.333333,980 0,1080 L0,0 Z">
                </path>
                <path class="curtain-svg__curve curtain-svg__curve_bottom-mobile"
                    d="M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1030 1294.66667,1005 960,1005 C625.333333,1005 305.333333,1030 0,1080 L0,0 Z">
                </path>
            </svg>
        </div>
    </div>
    <div class="cursor" id="js-cursor">
        <div class="cursor__wrapper">
            <div class="cursor__follower">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <circle id="inner" cx="25" cy="25" r="24" style="opacity: 0.6;"></circle>
                    <circle id="outer" cx="25" cy="25" r="24"
                        style="stroke-dashoffset: 252.327; stroke-dasharray: 0px, 999999px;"></circle>
                </svg>
            </div>
            <div class="cursor__arrows">
                <div class="cursor__arrow cursor__arrow_up material-icons">keyboard_arrow_up</div>
                <div class="cursor__arrow cursor__arrow_down material-icons">keyboard_arrow_down</div>
                <div class="cursor__arrow cursor__arrow_left material-icons">keyboard_arrow_left</div>
                <div class="cursor__arrow cursor__arrow_right material-icons">keyboard_arrow_right</div>
            </div>
            <div class="cursor__label"></div>
            <div class="cursor__icon material-icons"></div>
        </div>
    </div>
    
    <app-header (link)="on_click($event)"></app-header>
    
    <div class="js-smooth-scroll bg-dark-1" id="page-wrapper" data-barba="container">
        <main class="page-wrapper__content">
            <section class="section section-masthead d-none" data-background-color="var(--color-dark-1)"></section>
            <section class="section section-fullheight section-projects section-projects-slider bg-dark-1 overflow"
                data-arts-theme-text="light" data-arts-os-animation>
                <div class="section-fullheight__inner section-fullheight__inner_mobile text-center">
                    <div class="slider slider-fullscreen-projects js-slider-fullscreen-projects js-slider">
                        <div
                            class="slider-fullscreen-projects__content swiper-container pointer-events-none js-slider-fullscreen-projects__content">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <h2 class="h1 slider__heading js-split-text"
                                        data-split-text-type="lines, words, chars">Cassio Apartment</h2>
                                </div>
                                <div class="swiper-slide">
                                    <h2 class="h1 slider__heading js-split-text"
                                        data-split-text-type="lines, words, chars">Nothern Wave</h2>
                                </div>
                                <div class="swiper-slide">
                                    <h2 class="h1 slider__heading js-split-text"
                                        data-split-text-type="lines, words, chars">Paysage Fiction</h2>
                                </div>
                                <div class="swiper-slide">
                                    <h2 class="h1 slider__heading js-split-text"
                                        data-split-text-type="lines, words, chars">Silence &amp; Noise</h2>
                                </div>
                            </div>
                        </div>
                        <div class="slider-fullscreen-projects__images swiper-container js-slider-fullscreen-projects__images"
                            data-mousewheel-enabled="data-mousewheel-enabled" data-direction="vertical"
                            data-transition-effect="distortion" data-aspect-ratio="1.5"
                            data-transition-displacement-img="../../assets/img/bg-displacement-10.jpg" data-speed="1200"
                            data-autoplay-enabled="true" data-autoplay-delay="6000" data-counter-style="roman">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide overflow">
                                    <div class="slider__images-slide-inner js-transition-img overflow"
                                        data-swiper-parallax="90%">
                                        <div class="slider__bg lazy-bg js-transition-img__transformed-el"
                                            data-texture-src="../../assets/img/project-3.jpg"></div>
                                    </div>
                                </div>
                                <div class="swiper-slide overflow">
                                    <div class="slider__images-slide-inner js-transition-img overflow"
                                        data-swiper-parallax="90%">
                                        <div class="slider__bg lazy-bg js-transition-img__transformed-el"
                                            data-texture-src="../../assets/img/project-3.jpg"></div>
                                    </div>
                                </div>
                                <div class="swiper-slide overflow">
                                    <div class="slider__images-slide-inner js-transition-img overflow"
                                        data-swiper-parallax="90%">
                                        <div class="slider__bg lazy-bg js-transition-img__transformed-el"
                                            data-texture-src="../../assets/img/project-3.jpg"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="slider__overlay overlay overlay_circle-dark"></div>
                            <div class="slider__circle"></div>
                        </div>
                        <div
                            class="slider-fullscreen-projects__footer swiper-container js-slider-fullscreen-projects__footer">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="slider__wrapper-button-footer"><a
                                            class="button button_white button_bordered" data-hover="Explore Project"
                                            (click)="on_click('portfolio')" data-pjax-link="fullscreenSlider"><span
                                                class="button__label-hover">Explore
                                                Project</span></a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slider__wrapper-button-footer"><a
                                            class="button button_white button_bordered" data-hover="Explore Project"
                                            (click)="on_click('portfolio')" data-pjax-link="fullscreenSlider"><span
                                                class="button__label-hover">Explore
                                                Project</span></a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slider__wrapper-button-footer"><a
                                            class="button button_white button_bordered" data-hover="Explore Project"
                                            (click)="on_click('portfolio')" data-pjax-link="fullscreenSlider"><span
                                                class="button__label-hover">Explore
                                                Project</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider__wrapper-counter slider-fullscreen-projects__counter">
                            <div class="slider__counter slider__counter_current">
                                <div class="js-slider-fullscreen-projects__counter-current swiper-container">
                                    <div class="swiper-wrapper"></div>
                                </div>
                            </div>
                            <div class="slider__counter-divider slider-fullscreen__counter-divider"></div>
                            <div
                                class="slider__counter slider__counter_total js-slider-fullscreen-projects__counter-total">
                            </div>
                        </div>
                        <div class="slider__wrapper-arrows slider__wrapper-arrows_right">
                            <div class="slider__arrow js-slider__arrow-prev">
                                <div class="arrow arrow-left js-arrow arrow-up" data-arts-cursor="data-arts-cursor"
                                    data-arts-cursor-hide-native="true" data-arts-cursor-scale="0"
                                    data-arts-cursor-magnetic="data-arts-cursor-magnetic">
                                    <svg class="svg-circle" viewBox="0 0 60 60" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <circle class="circle" cx="30" cy="30" r="29" fill="none"></circle>
                                    </svg>
                                    <div class="arrow__pointer arrow-left__pointer"></div>
                                    <div class="arrow__triangle"></div>
                                </div>
                            </div>
                            <div class="slider__arrow js-slider__arrow-next">
                                <div class="arrow arrow-right js-arrow arrow-down" data-arts-cursor="data-arts-cursor"
                                    data-arts-cursor-hide-native="true" data-arts-cursor-scale="0"
                                    data-arts-cursor-magnetic="data-arts-cursor-magnetic">
                                    <svg class="svg-circle" viewBox="0 0 60 60" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <circle class="circle" cx="30" cy="30" r="29" fill="none"></circle>
                                    </svg>
                                    <div class="arrow__pointer arrow-right__pointer"></div>
                                    <div class="arrow__triangle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="slider__wrapper-canvas">
                            <div class="slider__wrapper-canvas-inner">
                                <canvas class="slider__canvas"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</div>
<canvas id="js-webgl"></canvas>
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true" data-arts-theme-text="light">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item">
                <div class="pswp__img pswp__img--placeholder"></div>
            </div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)" data-arts-cursor="data-arts-cursor"
                    data-arts-cursor-scale="1.2" data-arts-cursor-magnetic="data-arts-cursor-magnetic"
                    data-arts-cursor-hide-native="true"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"
                    data-arts-cursor="data-arts-cursor" data-arts-cursor-scale="1.2"
                    data-arts-cursor-magnetic="data-arts-cursor-magnetic" data-arts-cursor-hide-native="true"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__button pswp__button--arrow--left">
                <div class="arrow arrow-left js-arrow" data-arts-cursor="data-arts-cursor"
                    data-arts-cursor-hide-native="true" data-arts-cursor-scale="0"
                    data-arts-cursor-magnetic="data-arts-cursor-magnetic">
                    <svg class="svg-circle" viewBox="0 0 60 60" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <circle class="circle" cx="30" cy="30" r="29" fill="none"></circle>
                    </svg>
                    <div class="arrow__pointer arrow-left__pointer"></div>
                    <div class="arrow__triangle"></div>
                </div>
            </div>
            <div class="pswp__button pswp__button--arrow--right">
                <div class="arrow arrow-right js-arrow" data-arts-cursor="data-arts-cursor"
                    data-arts-cursor-hide-native="true" data-arts-cursor-scale="0"
                    data-arts-cursor-magnetic="data-arts-cursor-magnetic">
                    <svg class="svg-circle" viewBox="0 0 60 60" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <circle class="circle" cx="30" cy="30" r="29" fill="none"></circle>
                    </svg>
                    <div class="arrow__pointer arrow-right__pointer"></div>
                    <div class="arrow__triangle"></div>
                </div>
            </div>
            <div class="pswp__caption">
                <div class="pswp__caption__center text-center"></div>
            </div>
        </div>
    </div>
</div>