<div data-barba="wrapper">
    <div class="js-smooth-scroll bg-light-1" id="page-wrapper" data-barba="container">
        <main class="page-wrapper__content">
            <section class="section section-masthead section-fullheight text-center text-lg-right pt-large pt-md-0"
                data-arts-os-animation="data-arts-os-animation" data-background-color="var(--color-light-1)">
                <div class="section-masthead__inner section-fullheight__inner section-fullheight__inner_mobile-auto">
                    <div class="row no-gutters h-100 align-items-center">
                        <div class="col-lg-6 h-100">
                            <div class="container-fluid container-fluid_paddings h-100 container_py-xs-0">
                                <div class="row align-items-center h-100">
                                    <div class="col">
                                        <header class="section-masthead__header justify-content-center">
                                            <div class="section-masthead__subheading small-caps mt-0 mb-1 mb-md-2 split-text js-split-text"
                                                data-split-text-type="lines,words" data-split-text-set="words">
                                                <span>Software Engineer</span>
                                            </div>
                                            <div class="w-100"></div>
                                            <div class="section-masthead__heading split-text js-split-text"
                                                data-split-text-type="lines,words" data-split-text-set="words">
                                                <h1 class="h1 mt-0 mb-0">I'm Hemanth Choppala</h1>
                                            </div>
                                        </header>
                                    </div>
                                </div>
                                <div
                                    class="section-masthead__wrapper-scroll-down section-masthead__wrapper-scroll-down_right d-none d-lg-block">
                                    <div class="circle-button js-circle-button" data-arts-os-animation="true">
                                        <!-- curved label -->
                                        <div class="circle-button__outer">
                                            <div class="circle-button__wrapper-label">
                                                <div class="circle-button__label small-caps">Scroll Down</div>
                                            </div>
                                        </div>
                                        <div class="circle-button__inner">
                                            <div class="circle-button__circle"
                                                data-arts-scroll-down="data-arts-scroll-down"
                                                data-arts-cursor="data-arts-cursor" data-arts-cursor-hide-native="true"
                                                data-arts-cursor-scale="0">
                                                <svg class="svg-circle" viewBox="0 0 60 60" version="1.1"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink">
                                                    <circle class="circle" cx="30" cy="30" r="29" fill="none"></circle>
                                                </svg>
                                            </div>
                                            <div class="circle-button__icon circle-button__icon-touch">
                                                <svg enable-background="new 0 0 64 64" height="512" viewBox="0 0 64 64"
                                                    width="512" xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="m32 8c-1.104 0-2 .896-2 2v39.899l-14.552-15.278c-.761-.799-2.026-.832-2.828-.069-.8.762-.831 2.027-.069 2.827l16.62 17.449c.756.756 1.76 1.172 2.829 1.172 1.068 0 2.073-.416 2.862-1.207l16.586-17.414c.762-.8.73-2.065-.069-2.827-.799-.763-2.065-.731-2.827.069l-14.552 15.342v-39.963c0-1.104-.896-2-2-2z">
                                                    </path>
                                                </svg>
                                            </div>
                                            <div class="circle-button__icon circle-button__icon-mouse">
                                                <svg class="svg-mouse" width="23px" height="35px" viewBox="0 0 23 35"
                                                    version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink">
                                                    <path class="svg-mouse__border"
                                                        d="M11.5,0 C5.15875132,0 0,5.23135343 0,11.6610111 L0,23.3396542 C0,29.7691456 5.15875132,35 11.5,35 C17.8412487,35 23,29.7693119 23,23.3396542 L23,11.6610111 C23,5.23135343 17.8410847,0 11.5,0 Z M21.7222404,23.3396542 C21.7222404,29.0545544 17.136538,33.7037222 11.5,33.7037222 C5.86346203,33.7037222 1.27775956,29.0545544 1.27775956,23.3396542 L1.27775956,11.6610111 C1.27775956,5.946111 5.86346203,1.29627781 11.5,1.29627781 C17.136538,1.29627781 21.7222404,5.94594466 21.7222404,11.6610111 L21.7222404,23.3396542 Z">
                                                    </path>
                                                    <path class="svg-mouse__wheel"
                                                        d="M11.5,4 C11.2238902,4 11,4.28321727 11,4.63321727 L11,10.3667827 C11,10.7167827 11.2238902,11 11.5,11 C11.7761098,11 12,10.7167827 12,10.3667827 L12,4.63321727 C11.9998717,4.28321727 11.7761098,4 11.5,4 Z">
                                                    </path>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 align-self-stretch">
                            <div
                                class="section-image section-masthead__background section-masthead__background_halfscreen section-masthead__background_halfscreen-gutters mt-small mt-md-0">
                                <div class="section-image__wrapper js-transition-img"
                                    data-arts-parallax="data-arts-parallax" data-arts-parallax-factor="0.15">
                                    <div class="js-transition-img__transformed-el">
                                        <div class="lazy-bg" data-src="../../assets/img/about.jpg"></div>
                                    </div>
                                </div>
                                <div class="section-masthead__bg bg-white"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <section class="section section-content clearfix pt-medium text-center"
                            data-arts-os-animation="data-arts-os-animation">
                            <div class="section-content__inner">
                                <div class="w-100"></div>
                                <div class="section__headline mb-1 mb-md-2 mx-auto"></div>
                                <div class="w-100"></div>
                                <div class="section-content__heading split-text js-split-text"
                                    data-split-text-type="lines,words" data-split-text-set="words">
                                    <h3>{{ intro }}</h3>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <aside class="aside aside-counters section pt-xsmall text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="aside-counters__wrapper-item col-12">
                            <div class="counter js-counter" data-counter-start="0" data-counter-target="7"
                                data-counter-duration="4">
                                <div class="counter__number js-counter__number">
                                    {{ years }}
                                </div>
                                <div class="counter__label">
                                    Years in Software Development
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mb-5">
                    <div class="row justify-content-center">
                        <p> {{ details }}</p>
                    </div>
                </div>
            </aside>
            <section class="section section-content clearfix pt-medium pb-small text-center"
                data-arts-os-animation="data-arts-os-animation">
                <div class="section-content__inner">
                    <div class="w-100"></div>
                    <div class="section__headline mb-1 mb-md-2 mx-auto"></div>
                    <div class="w-100"></div>
                    <div class="section-content__heading split-text js-split-text" data-split-text-type="lines,words"
                        data-split-text-set="words">
                        <h2>Clients</h2>
                    </div>
                </div>
            </section>
            <!-- section LOGOS -->
            <section class="section section-logos section-grid pb-medium"
                data-arts-os-animation="data-arts-os-animation" data-grid-columns="3" data-grid-columns-tablet="2"
                data-grid-columns-mobile="1">
                <div class="container">
                    <div class="row row-gutters justify-content-center">
                        <div *ngFor="let c of clients" class="col-lg-4 col-gutters">
                            <div class="section-grid__item">
                                <div class="figure-logo grayscale bg-white">
                                    <img src="{{ c.img }}" alt="Paysafe Group" />
                                    <div class="figure-logo__description">
                                        <p>{{ c.name }}</p>
                                        <div class="figure-logo__line"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- - section LOGOS -->
        </main>
    </div>
</div>
<canvas id="js-webgl"></canvas>
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true" data-arts-theme-text="light">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item">
                <div class="pswp__img pswp__img--placeholder"></div>
            </div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)" data-arts-cursor="data-arts-cursor"
                    data-arts-cursor-scale="1.2" data-arts-cursor-magnetic="data-arts-cursor-magnetic"
                    data-arts-cursor-hide-native="true"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"
                    data-arts-cursor="data-arts-cursor" data-arts-cursor-scale="1.2"
                    data-arts-cursor-magnetic="data-arts-cursor-magnetic" data-arts-cursor-hide-native="true"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__button pswp__button--arrow--left">
                <div class="arrow arrow-left js-arrow" data-arts-cursor="data-arts-cursor"
                    data-arts-cursor-hide-native="true" data-arts-cursor-scale="0"
                    data-arts-cursor-magnetic="data-arts-cursor-magnetic">
                    <svg class="svg-circle" viewBox="0 0 60 60" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <circle class="circle" cx="30" cy="30" r="29" fill="none"></circle>
                    </svg>
                    <div class="arrow__pointer arrow-left__pointer"></div>
                    <div class="arrow__triangle"></div>
                </div>
            </div>
            <div class="pswp__button pswp__button--arrow--right">
                <div class="arrow arrow-right js-arrow" data-arts-cursor="data-arts-cursor"
                    data-arts-cursor-hide-native="true" data-arts-cursor-scale="0"
                    data-arts-cursor-magnetic="data-arts-cursor-magnetic">
                    <svg class="svg-circle" viewBox="0 0 60 60" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <circle class="circle" cx="30" cy="30" r="29" fill="none"></circle>
                    </svg>
                    <div class="arrow__pointer arrow-right__pointer"></div>
                    <div class="arrow__triangle"></div>
                </div>
            </div>
            <div class="pswp__caption">
                <div class="pswp__caption__center text-center"></div>
            </div>
        </div>
    </div>
</div>